//------------------Generals------------------//
.navbar-nav>li>a.active{
    color:white;
}

.navbar{
    margin-bottom:0;
}

table,th{
    text-align: center;
}

textarea{
    resize: none;
}

.drop-zone{
    height:400px;
    width:400px;
    border: 5px dashed #999;
    line-height: 400px;
    text-align: center;
    span{
        display: inline-block;
        position:relative;
        font-size:5em;;
        vertical-align: middle
    }
}

.drop-zone:hover{
    background-color:#eee;
    span{
        font-size:6em;
    }
}
// ------------------- Dev setting ------------//

footer{
    margin-top:20px;
    font-weight:600;
    padding:50px;
    background-color:#333;
    color:white;
    text-align:center;
}



//-------------------Home Page ----------------//
#homepage{
    .jumbotron{
    text-align:center;
        #start-event{
            width:100px;
        }
    }

    .facts{
        text-align: center;
        .fact-block{
            span{
                color:#555;
                font-size:10em;
            }
        }
    }
}


//--------------------About Page ------------

#about-page{
    .team-description{
        h3{
            text-align: center;
        }

    
        .media-list-item{
            margin:3em 0;
            .person-image{
                margin-left:auto;
                margin-right:auto;
                text-align: center;

                span{
                    font-size:8em;
                }
            }
        }
    }
}


//-------------------- Survey Page ----------------

#survey-page{
    .choice{
        p{
            text-align:center;
        }
    }
    img{
        max-width:300px;
        margin-bottom:50px;
    }
    img:hover{
        opacity: 0.7;
    }
    
}

//------------------Create Concept Page---------

#concept-create-compoenent{
    img{
        display: block;
        height:400px;
    }
}