//------------------Generals------------------//
.navbar-nav>li>a.active{
    color:black;
}

img{
    max-width:300px;
    margin-bottom:50px;
}

img:hover{
    opacity: 0.7;
}

table,th{
    text-align: center;
}