//------------------Generals------------------//
.navbar-nav>li>a.active{
    color:black;
}

img{
    max-width:300px;
    margin-bottom:50px;
}

img:hover{
    opacity: 0.7;
}

table,th{
    text-align: center;
}







// ------------------- Dev setting ------------//

footer{
    padding:50px;
    background-color:#eee;
    text-align:center;
}



//-------------------Home Page ----------------//
.homepage{
    margin-top:-20px;
    .jumbotron{
    text-align:center;
        #start-event{
            width:100px;
        }
    }

    .facts{
        text-align: center;
        .fact-block{
            span{
                font-size:10em;
            }
        }
    }
}